<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
    <th:block th:include="include :: header('新增企业信息')" />
    <th:block th:include="include :: datetimepicker-css" />
</head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
<!--        form标签表单域，已表单域提交数据给服务器-->
        <form class="form-horizontal m" id="form-qiye-add">
            <div class="form-group">    
                <label class="col-sm-3 control-label is-required">企业信用代码：</label>
                <div class="col-sm-8">
                    <input name="qiyeXinyongDaima" class="form-control" type="text" required>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label is-required">企业名称：</label>
                <div class="col-sm-8">
                    <input name="qiyeMingcheng" class="form-control" type="text" required>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label is-required">行业：</label>
                <div class="col-sm-8">
                    <select name="hangye" class="form-control m-b" th:with="type=${@dict.getType('hangye')}" required>
                        <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
                    </select>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label is-required">别名：</label>
                <div class="col-sm-8">
                    <input name="bieming" class="form-control" type="text" required>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label is-required">电话：</label>
                <div class="col-sm-8">
                    <input name="dianhua" class="form-control" type="text" required>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label is-required">地址：</label>
                <div class="col-sm-8">
                    <input name="dizhi" id="dizhi" class="form-control" type="text" required>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label is-required">企业坐标：</label>
                <div class="col-sm-8">
                    <div class="input-group">
                        <input  id="qiyeZuobiao" name="qiyeZuobiao" onclick="selectMap()" readonly="readonly"  required  type="text" placeholder="请选择坐标" class="form-control">
                        <span class="input-group-addon"><i class="fa fa-search"></i></span>
                        <input type="hidden" id="weidu" name="weidu"  />
                        <input type="hidden" id="jingdu" name="jingdu" />
                    </div>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label is-required">结算方式：</label>
                <div class="col-sm-8">
                    <select name="jiesuanFangshi" class="form-control m-b" th:with="type=${@dict.getType('jiesuan_fangshi')}">
                        <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
                    </select>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label is-required">费用：</label>
                <div class="col-sm-8">
                    <input name="feiyong" id="feiyong" class="form-control" type="number" min="1" max="5000"
                           required>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label is-required">状态：</label>
                <div class="col-sm-8">
                    <div class="radio-box" th:each="dict : ${@dict.getType('sys_job_status')}">
                        <input type="radio" th:id="${'status_' + dict.dictCode}" name="status" th:value="${dict.dictValue}" th:checked="${dict.default}" required>
                        <label th:for="${'status_' + dict.dictCode}" th:text="${dict.dictLabel}"></label>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">备注：</label>
                <div class="col-sm-8">
                    <textarea name="remark" class="form-control"></textarea>
                </div>
            </div>
        </form>
    </div>
    <th:block th:include="include :: footer" />
    <th:block th:include="include :: datetimepicker-js" />
    <script th:inline="javascript">
        var prefix = ctx + "jmlg/qiye"
        $("#form-qiye-add").validate({
            focusCleanup: true
        });
        //弹框“确定”方法，$是jquerry调用标识，validate.form()检查表单域内容，save(后台方法,处理的数据),url
        //指向contrell,servlet技术
        function submitHandler() {
            var feiyong=$("#feiyong").val();
            // if(parseInt(feiyong)<0 | parseInt(feiyong)>200){
            //
            // }
            if ($.validate.form()) {
                $.operate.save(prefix + "/add", $('#form-qiye-add').serialize());
            }
        }

        $("input[name='chuangjianShijian']").datetimepicker({
            format: "yyyy-mm-dd",
            minView: "month",
            autoclose: true
        });
        /* 企业管理-新增-选择坐标 */
        function selectMap() {
            var url = ctx + "demo/map/simple_map";
            var options = {
                title: '选择坐标',
                width: "780",
                height:"280",
                url: url,
                callBack: doSubmit
            };
            $.modal.openOptions(options);
        }
        function doSubmit(index){
            var body = layer.getChildFrame('body', index);
            $("#qiyeZuobiao").val("纬度："+body.find('#latitude').val()+"，经度："+body.find('#longitude').val());
            $("#jingdu").val(body.find('#longitude').val());
            $("#weidu").val(body.find('#latitude').val());
            var dizhi=body.find("#province10").val()+body.find("#city10").val()+body.find("#district10").val()+body.find("#cityName").val();
            $("#dizhi").val(dizhi);
            layer.close(index);
        }
    </script>
</body>
</html>