<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
    <th:block th:include="include :: header('新增企业')" />
</head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-enterprise-add">
            <div class="form-group">
                <label class="col-sm-3 control-label is-required">企业信用代码：</label>
                <div class="col-sm-8">
                    <input name="enterpriseCreditCode" class="form-control" type="text" required>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label is-required">企业名称：</label>
                <div class="col-sm-8">
                    <input name="deptName" class="form-control" type="text" required>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label is-required">行业：</label>
                <div class="col-sm-8">
                    <input name="industry" class="form-control" type="text" required>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label is-required">别名：</label>
                <div class="col-sm-8">
                    <input name="alias" class="form-control" type="text" required>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label is-required">电话：</label>
                <div class="col-sm-8">
                    <input name="phone" class="form-control" type="text" required>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label is-required">址地：</label>
                <div class="col-sm-8">
                    <input name="address"  id="address"  class="form-control" type="text" required>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label  is-required">企业坐标：</label>
                <div class="col-sm-8">
                    <div class="input-group">
                        <input name="coordinate" onclick="selectMap()" readonly="readonly"  required id="coordinate" type="text" placeholder="请选择坐标" class="form-control">
                        <span class="input-group-addon"><i class="fa fa-search"></i></span>
                        <input type="hidden" id="longitude" name="longitude"  />
                        <input type="hidden" id="latitude" name="latitude" />
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label is-required">费用结算方式：</label>
                <div class="col-sm-8">
                    <select name="costSettlementMethod" class="form-control m-b" th:with="type=${@dict.getType('cost_settlement_method')}" required>
                        <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label is-required">费用（元）：</label>
                <div class="col-sm-8">
                    <input name="cost" class="form-control" type="number" required>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label is-required">状态：</label>
                <div class="col-sm-8">
                    <div class="radio-box" th:each="dict : ${@dict.getType('sys_normal_disable')}">
                        <input type="radio" th:id="${'status_' + dict.dictCode}" name="status" th:value="${dict.dictValue}" th:checked="${dict.default}" required>
                        <label th:for="${'status_' + dict.dictCode}" th:text="${dict.dictLabel}"></label>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">备注：</label>
                <div class="col-sm-8">
                    <textarea name="remark" class="form-control"></textarea>
                </div>
            </div>
        </form>
    </div>
    <th:block th:include="include :: footer" />
    <script th:inline="javascript">
        var prefix = ctx + "system/enterprise"
        $("#form-enterprise-add").validate({
            focusCleanup: true
        });

        function submitHandler() {
            if ($.validate.form()) {
                $.operate.save(prefix + "/add", $('#form-enterprise-add').serialize());
            }
        }
        /* 企业管理-新增-选择坐标 */
        function selectMap() {
            var url = ctx + "demo/map/simple_map";
            var options = {
                title: '选择坐标',
                width: "780",
                height:"280",
                url: url,
                callBack: doSubmit
            };
            $.modal.openOptions(options);
        }
        function doSubmit(index){
            var body = layer.getChildFrame('body', index);
            $("#coordinate").val("纬度："+body.find('#latitude').val()+"，经度："+body.find('#longitude').val());
            $("#longitude").val(body.find('#longitude').val());
            $("#latitude").val(body.find('#latitude').val());
            var address=body.find("#province10").val()+body.find("#city10").val()+body.find("#district10").val()+body.find("#cityName").val();
            $("#address").val(address);
            layer.close(index);
        }
    </script>
</body>
</html>