<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('企业列表')" />
</head>
<body class="gray-bg">
     <div class="container-div">
        <div class="row">
            <div class="col-sm-12 search-collapse">
                <form id="formId">
                    <div class="select-list">
                        <ul>
                            <li>
                                <label>企业信用代码：</label>
                                <input type="text" name="enterpriseCreditCode"/>
                            </li>
                            <li>
                                <label>企业名称：</label>
                                <input type="text" name="deptName"/>
                            </li>
                            <li>
                                <label>行业：</label>
                                <input type="text" name="industry"/>
                            </li>
                            <li>
                                <label>别名：</label>
                                <input type="text" name="alias"/>
                            </li>
                            <li>
                                <label>电话：</label>
                                <input type="text" name="phone"/>
                            </li>
                            <li>
                                <label>址地：</label>
                                <input type="text" name="address"/>
                            </li>
                            <li>
                                <label>费用结算方式：</label>
                                <select name="costSettlementMethod" th:with="type=${@dict.getType('cost_settlement_method')}">
                                    <option value="">所有</option>
                                    <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
                                </select>
                            </li>
                            <li>
                                <label>状态：</label>
                                <select name="status" th:with="type=${@dict.getType('sys_normal_disable')}">
                                    <option value="">所有</option>
                                    <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
                                </select>
                            </li>
                            <li>
                                <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
                                <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
                            </li>
                        </ul>
                    </div>
                </form>
            </div>

            <div class="btn-group-sm" id="toolbar" role="group">
                <a class="btn btn-success" onclick="$.operate.add()" shiro:hasPermission="system:enterprise:add">
                    <i class="fa fa-plus"></i> 添加
                </a>
                <a class="btn btn-primary single disabled" onclick="$.operate.edit()" shiro:hasPermission="system:enterprise:edit">
                    <i class="fa fa-edit"></i> 修改
                </a>
                <a class="btn btn-danger multiple disabled" onclick="$.operate.removeAll()" shiro:hasPermission="system:enterprise:remove">
                    <i class="fa fa-remove"></i> 删除
                </a>
                <a class="btn btn-warning" onclick="$.table.exportExcel()" shiro:hasPermission="system:enterprise:export">
                    <i class="fa fa-download"></i> 导出
                </a>
            </div>
            <div class="col-sm-12 select-table table-striped">
                <table id="bootstrap-table"></table>
            </div>
        </div>
    </div>
    <th:block th:include="include :: footer" />
    <script th:inline="javascript">
        var costSettlementMethodDatas = [[${@dict.getType('cost_settlement_method')}]];
        var editFlag = [[${@permission.hasPermi('system:enterprise:edit')}]];
        var removeFlag = [[${@permission.hasPermi('system:enterprise:remove')}]];
        var statusDatas = [[${@dict.getType('sys_normal_disable')}]];
        var prefix = ctx + "system/enterprise";

        $(function() {
            var options = {
                url: prefix + "/list",
                createUrl: prefix + "/add",
                updateUrl: prefix + "/edit/{id}",
                removeUrl: prefix + "/remove",
                exportUrl: prefix + "/export",
                modalName: "企业",
                columns: [{
                    checkbox: true
                },
                {
                    field: 'deptId',
                    title: '业企ID',
                    visible: false
                },
                    {
                        field: 'enterpriseCreditCode',
                        title: '企业信用代码'
                    },
                {
                    field: 'deptName',
                    title: '企业名称'
                },
                {
                    field: 'industry',
                    title: '行业'
                },
                {
                    field: 'alias',
                    title: '别名'
                },
                    {
                        field: 'leader',
                        title: '负责人'
                    },
                {
                    field: 'phone',
                    title: '电话'
                },
                {
                    field: 'address',
                    title: '址地'
                },
                    {
                        field: 'longitude',
                        title: '经度'
                    },
                    {
                        field: 'latitude',
                        title: '纬度'
                    },
                {
                    field: 'status',
                    title: '状态',
                    formatter: function(value, row, index) {
                       return $.table.selectDictLabel(statusDatas, value);
                    }
                },
                    {
                        field: 'costSettlementMethod',
                        title: '费用结算方式'
                    },
                    {
                        field: 'cost',
                        title: '费用（元）'
                    },
                {
                    field: 'remark',
                    title: '备注'
                },
                {
                    title: '操作',
                    align: 'center',
                    formatter: function(value, row, index) {
                        var actions = [];
                        actions.push('<a class="btn btn-success btn-xs ' + editFlag + '" href="javascript:void(0)" onclick="$.operate.edit(\'' + row.deptId + '\')"><i class="fa fa-edit"></i>编辑</a> ');
                        actions.push('<a class="btn btn-danger btn-xs ' + removeFlag + '" href="javascript:void(0)" onclick="$.operate.remove(\'' + row.deptId + '\')"><i class="fa fa-remove"></i>删除</a>');
                        return actions.join('');
                    }
                }]
            };
            $.table.init(options);
        });
    </script>
</body>
</html>